.homepage
{
	text-align: center;
	padding: 30px 0px 30px 0px;
	display: grid;
	grid-template-rows: 200px auto auto auto;
	justify-content: center;
	align-items: center;
	background: var(--primary);
	width: 70%;
	margin: auto;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px black;
}
.homepage img
{
	width: 150px;
	height: 150px;
}
.homepage h1
{
	margin: 0px;
	color: var(--text);
	text-shadow: 0px 2px 4px var(--secondary);
}
.homepage p
{
	color: var(--text);
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.homepage .links
{
	display: flex;
	flex-direction: column;
	margin: 15px 0px 15px 0px;
	justify-content: center;
	align-items: center;
}
.homepage a
{
	color: var(--text);
	background: var(--secondary);
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
	width: 150px;
}
.homepage a:hover
{
	transform: scale(1.03);
}
.homepage span
{
	color: var(--text);
	font-size: 0.9em;
	text-shadow: 0px 1px 2px var(--secondary);
}
@media (min-width: 768px) and (max-width: 1302px)
{
	.homepage
	{
		width: 80%;
	}
	.homepage p
	{
		width: 70%;
	}
}
@media (min-width: 0px) and (max-width: 768px)
{
	.homepage
	{
		width: 100%;
	}
	.homepage p
	{
		width: 80%;
	}
}